<!-- inside app/views/welcome/index.html.erb -->  
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5><a href='welcome/for_what' class="text-warning">Для чего:</h5>
    <p> </p>
  <h3> <a href='https://vk.com/shiro05' class ="text-muted"> SHIRO © </a> </h3>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-dark">Обо мне:</h1>
        <p class="lead text-muted">Привет, меня зовут <font class='text-primary'>Крис</font>, мне *** лет, я - <font class='text-danger'>Ruby on Rails</font> разработчик.</p>
        <p class = "lead text-muted"> 
        Увлекаюсь веб разработкой, в особенностях написанием сайтов и ботов.
        Привлекает <a href='https://ru.wikipedia.org/wiki/%D0%9C%D0%B0%D1%88%D0%B8%D0%BD%D0%BD%D0%BE%D0%B5_%D0%BE%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5' class='lead text-danger' >Machine Learning</a>. 
        И просто прекрасное.
        </p>
        
        <p class = "lead text-muted">
        Данный сайт это нечто прекрасное для меня, то что приносит мне удовольствие
        </p>
      
        <p>
          <a href="https://vk.com/shiro05" class="btn btn-primary my-2">Связь со мной.</a>
        </p>
       
      </div>
    </div>
  </section>
</main>
